.channelRow{
    display: flex;
    align-items: center;
    width: 70%;
}

.channelRow_text{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.channelRow_text > p {
    color: #606660;
    font-size: small !important;
    margin-top: 0;
}

.channelRow_logo{
 height: 120px !important;
 width: 120px !important;
 margin: 10px 60px;
}

.channelRow_text >h4{
    display: flex;
    align-items: centre;
    justify-content: space-between;

}