.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: lightgray;
    
}

.header_logo {
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header_input{
    display: flex;
    align-items: center;
    width: 40%;
    border-left: 1px solid black;
   
}

.header_icons{
   margin-right: 8px;
}

.header_inputButton{
width: 25px !important;
height: 20px !important;
background-color: #fafafa;
border-left: 1px solid lightslategray;
color: gray;
margin-top: 2.5px;

}

.header_input > input {
    flex:  1;
    
}

.header_icons{

    margin-right: 5px;
}
